
    .timewrap {
        .timeunit {
            padding:6px;
            .digits {
                width:1.7em;
            }
            .digit {
                font-size:240%;
            }
            .units {
                font-size:90%;
            }
        }
    }

    .tlwrap {
        .tl {
            margin-top:50px;
            margin-left:200px;
            .tlitem {
                width:320px;
                margin-left:-160px;
                
                .date {
                    width:40%;
                    left:30%;
                }
                
                &.active,
                &:hover {
                    .date {
                        width:60%;
                        left:20%;
                    }
                }
            }
        }
    }