/* --page */
    /* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */

    html {
        height:100%;
        .vertical-multi-gradient( #FFFFFF, 0px, #c1f7ff, 430px, #c1ffc2, 431px, #90be91, 100% );
        background-attachment:fixed;
    }

    body {
        //height:100%;
        font-family:Arial, Verdana, sans-serif;
        font-size: 100%;
        color:#333333;
    }

    @time: 1s;
    @corner: 5px;

    .timewrap {
        padding:60px 0 0 0;
        .timeunit {
            display:none;
            padding:10px;
            text-align:center;

            &.shown {
                display:inline-block;
            }

            .digit {
                position:relative;
                margin-bottom:10px;
                .vertical-multi-gradient( #d3d3d3, 0%, #d0d0d0, 50%, #ededed, 50%, #dadada, 100% );
                .border-box();
                .box-shadow( ~"0 0 0 1px rgba(255,255,255,1) inset, 0 0 0 1px #030303, 0 5px 5px rgba(0,0,0,0.7)" );
                .border-radius( @corner );
                border:solid 1px #787878;
                border-top:solid 2px #787878;
                border-bottom:solid 2px #787878;
                text-shadow:0px 2px 1px #ffffff;
                font-size:500%;
                line-height:1.25em;
                color:#303030;

                &:after { // this is the horizontal dividing line
                    content:"";
                    z-index:5;
                    position:absolute;
                    top:50%;
                    left:0;
                    width:100%;
                    height:0;
                    border-top:solid 1px rgba(106,106,106,0.7);
                    border-bottom:solid 1px rgba(23,23,23,0.5);
                    .box-shadow( 0 1px 1px rgba(255,255,255,0.7) );
                }
            }

            .digits {
                position:relative;
                padding:10px 0;
                width:1.5em;

                &:before { /* this is the top half of the number and contains the current number. It begins visible, then flips down */
                    display:none;
                    content:attr(data-now);
                    position:absolute;
                    z-index:2;
                    top:0;
                    left:0;
                    width:100%;
                    height:50%;
                    padding:10px 10px 0 10px;
                    .border-box();
                    .border-radius( @corner @corner 0 0 );
                    overflow:hidden;
                    .vertical-gradient( #d3d3d3, 0%, #d0d0d0, 100% );
                    border-top:solid 1px #787878;
                    text-shadow:0px 2px 1px #ffffff;
                }
                &:after { /* this is the bottom half of the new number and begins obscured, flipping over to reveal its contents */
                    display:none;
                    content:attr(data-next);
                    position:absolute;
                    z-index:2;
                    top:50%;
                    left:0;
                    width:100%;
                    height:50%;
                    padding:0 10px 10px 10px;
                    .border-box();
                    .border-radius( 0 0 @corner @corner );
                    .box-shadow( 0 0 0 1px rgba(255,255,255,1) inset );
                    overflow:hidden;
                    line-height:0;
                    .vertical-gradient( #ededed, 0%, #dadada, 100% );
                    text-shadow:0px 2px 1px #ffffff;
                }
                
                .next { /* this element appears as the top half of the number and contains the next number. It begins obscured */
                    display:none;
                    position:absolute;
                    z-index:1;
                    top:0;
                    left:0;
                    width:100%;
                    height:50%;
                    padding:10px 10px 0 10px;
                    overflow:hidden;
                    .border-box();
                    .border-radius( @corner @corner 0 0 );
                    .box-shadow( ~"0 1px 0 0px rgba(255,255,255,1) inset, 1px 0 0 rgba(255,255,255,1) inset, -1px 0 0 rgba(255,255,255,1) inset" );
                    .vertical-gradient( #d3d3d3, 0%, #d0d0d0, 100% );
                    text-shadow:0px 2px 1px #ffffff;

                }
                .prev {
                    display:none;
                    position:absolute;
                    z-index:1;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:50%;
                    padding:0 10px 10px 10px;
                    .border-box();
                    .border-radius( 0 0 @corner @corner );
                    .box-shadow( 0 0 0 1px rgba(255,255,255,1) inset );
                    overflow:hidden;
                    line-height:0;
                    .vertical-gradient( #ededed, 0%, #dadada, 100% );
                    text-shadow:0px 2px 1px #ffffff;
                }

                &.animate {
                    &:before { /* this is the top half of the number and contains the current number. It begins visible, then flips down */
                        display:block;
                        .transform( perspective(300px) rotateX(0deg) );
                        .transform-point( 50% 100% );
                        -webkit-animation: anim1 @time linear infinite; /* Safari 4+ */
                        -moz-animation:    anim1 @time linear infinite; /* Fx 5+ */
                        -o-animation:      anim1 @time linear infinite; /* Opera 12+ */
                        animation:         anim1 @time linear infinite; /* IE 10+, Fx 29+ */
                    }
                    &:after { /* this is the bottom half of the new number and begins obscured, flipping over to reveal its contents */
                        display:block;
                        .transform( perspective(300px) scaleX(-1) rotate(180deg) rotateX(90deg) );
                        .transform-point( 50% 0% );
                        -webkit-animation: anim2 @time linear infinite; /* Safari 4+ */
                        -moz-animation:    anim2 @time linear infinite; /* Fx 5+ */
                        -o-animation:      anim2 @time linear infinite; /* Opera 12+ */
                        animation:         anim2 @time linear infinite; /* IE 10+, Fx 29+ */
                    }

                    .next { /* this element appears as the top half of the number and contains the next number. It begins obscured */
                        display:block;
                    }

                    .prev { /* this is an extra element of the bottom half of the current number, to make everything line up, since all the other elements have borders */
                        display:block;
                    }
                }

            }
            .units {
                font-family:Courier New, Courier New, monospace;
                font-size:110%;
                font-weight:bold;
            }
        }
    }
    
    /* define vendor specific calls here... */
    @-webkit-keyframes anim1 {.flip;}
    @-moz-keyframes anim1 {.flip;}
    @-ms-keyframes anim1 {.flip;}
    @-o-keyframes anim1 {.flip;}
    @keyframes anim1 {.flip;}

    @-webkit-keyframes anim2 {.flip-clip;}
    @-moz-keyframes anim2 {.flip-clip;}
    @-ms-keyframes anim2 {.flip-clip;}
    @-o-keyframes anim2 {.flip-clip;}
    @keyframes anim2 {.flip-clip;}

    /* ..then define animation here. */
    .flip(){
        0%   {
            .transform( perspective(300px) rotateX(0deg) translateY(0px) );
        }
        1% {
            border:solid 2px #787878;
        }
        50% {
            .transform( perspective(300px) rotateX(-180deg) translateY(0px) );
        }
        99% {
            border:0;
        }
        100% {
            .transform( perspective(300px) rotateX(-180deg) translateY(0px) );
        }
    }
    .flip-clip(){
        25% {
            .transform( perspective(300px) scaleX(-1) rotate(180deg) rotateX(90deg) );
        }
        50% {
            .transform( perspective(300px) scaleX(-1) rotate(180deg) rotateX(180deg) );
        }
        100% {
            .transform( perspective(300px) scaleX(-1) rotate(180deg) rotateX(180deg) );
        }
    }

    .trigger {
        .transition( all 0.4s ); //transition speed is less than 1 second, which, oddly, seems to work
        &.active {
            .transparency( 0.99 );
        }
    }
    
    .tlwrap {
        .tl {
            position:relative;
        	float: left;
        	clear:both;
            height:50px;
            margin:100px 0;
            margin-left:500px;
            .transition( all 0.5s );
            .border-radius( 10px 0 0 10px );
            background-color: #219bad;
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.3) 35px, rgba(255,255,255,.3) 70px);
            .box-shadow( ~"0 -4px 7px rgba(18,86,96,0.8) inset, 0 4px 7px rgba(255,255,255,0.8) inset" );
            color:#FFFFFF;
            
            &:hover {
                background-color:#25afc4;
                &:before,
                &:after {
                    background-color:#25afc4;
                }
            }

            &:before,
            &:after {
                content:"";
                position:absolute;
                top:-25px;
                right:-5px;
                width:50px;
                height:100%;
                background-color:#219bad;
                .transform( skewX(45deg) );
                .box-shadow( ~"-4px 2px 3px rgba(18,86,96,0.5), 0 8px 7px -5px rgba(255,255,255,0.8) inset" );
                .transition( all 0.5s );
            }
            &:after {
                top:auto;
                bottom:-25px;
                .transform( skewX(-45deg) );
                .box-shadow( ~"-4px 2px 3px rgba(18,86,96,0.5), 0 -8px 7px -5px rgba(18,86,96,0.8) inset" );
            }


            .tlitem {
                z-index:1;
                position:absolute;
                top:100%;
                width:500px;
                margin-left:-250px;
                margin-top:5px;
                height:0; //to kill the overflow problem without needing overflow
                .border-box();
                
                &:before { //this is the button to click on to show the item
                    content:"";
                    position:absolute;
                    bottom:100%;
                    left:50%;
                    width:30px;
                    height:30px;
                    margin-left:-15px;
                    margin-bottom:15px;
                    background:#941c1c;
                    .border-radius( 50px );
                    .box-shadow( ~"0 2px 2px rgba(0, 0, 0, 1) inset, 0 0 0 3px #219bad" );
                    .transition( all 0.5s );
                    cursor:pointer;
                    font-family:'icomoon';
                    text-align:center;
                    line-height:30px;
                }
                
                //current icons
                &.type-other:before {
                    content:"\ea09";
                }
                &.type-education:before {
                    content:"\e920";
                }
                &.type-job:before {
                    content:"\e976";
                }
                &.type-first:before {
                    content:"\e91e";
                }
                &.type-travel:before {
                    content:"\e9af";
                }
                &.type-fun:before {
                    content:"\e916";
                }


                .date {
                    position:absolute;
                    left:40%;
                    bottom:100%;
                    width:20%;
                    margin-bottom:60px;
                    padding:0.5em;
                    .border-box();
                    background:#8a3815;
                    .vertical-gradient( #8a3815, 0%, #6f2d11, 100% );
                    text-align:center;
                    .transition( all 0.3s );
                    .border-radius( 5px );
                    .box-shadow( ~"0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 -1px 0 rgba(0, 0, 0, 0.6) inset" );
                    border:solid 1px #57230d;
                    border-top-color:#8a3815;
                    font-size:80%;
                    cursor:pointer;
                    text-shadow:0 1px 0 rgba(0,0,0,0.7);

                    &:before,
                    &:after {
                        content:"";
                        position:absolute;
                        top:100%;
                        left:50%;
                        margin-left:-10px;
                        border-style:solid;
                        border-width:10px;
                        border-color:#311408 transparent transparent transparent;
                    }
                    &:after {
                        margin-top:-1px;
                        border-top-color:#702e11;
                    }
                }

                .content {
                    padding:10px;
                    padding-left:50px;
                    .border-radius( 5px );
                    visibility:hidden;
                    .transparency( 0 );
                    .transition( all 0.5s );
                    .box-shadow( 0 4px 4px rgba(0,0,0,0.5) );
                    background-color: #fff; 
                    background-image:
                    linear-gradient(90deg, transparent 39px, #abced4 39px, #abced4 41px, transparent 41px),
                    linear-gradient(#eee .1em, transparent .1em);
                    background-size: 100% 1.5em;
                    background-position:0 1em;
                    color:#333333;
                    border:solid 1px #adadad;
                    font-family:Georgia, serif;
                    cursor:default;


                    &:before,
                    &:after {
                        content:"";
                        position:absolute;
                        bottom:100%;
                        left:50%;
                        margin-left:-10px;
                        border-style:solid;
                        border-width:10px;
                        border-color:transparent transparent #adadad transparent;
                    }
                    &:after {
                        margin-bottom:-1px;
                        border-color:transparent transparent #ffffff transparent;
                    }
                }

                &.active,
                &:hover {
                    z-index:10;
                    .date {
                        .vertical-gradient( #b64a1b, 0%, #8a3815, 100% );
                        &:before {
                            border-top-color:#57230d;
                        }
                        &:after {
                            border-top-color:#8b3815;
                        }
                    }
                }
                &.active {
                    height:auto;
                    .date {
                        width:30%;
                        left:(100% - 30%) / 2;
                        font-size:110%;
                    }
                    .content {
                        visibility:visible;
                        .transparency( 1 );
                    }
                    &:before {
                        .box-shadow( ~"0 2px 2px rgba(255,255,255, 0.5) inset, 0 -2px 2px rgba(0,0,0,1) inset, 0 0 0 3px #219bad" );
                    }
                }
            }
        }
        .scrollWrapper {
            overflow:hidden;
        }
        .buffer {
            float:left;
        }
    }
    
    .controls {
        position:fixed;
        z-index:900;
        top:0;
        left:50%;
        width:200px;
        margin-left:-100px;
        padding:5px 0;
        font-size:220%;
        text-align:center;


        background:#8a3815;
        .vertical-gradient( #8a3815, 0%, #6f2d11, 100% );
        .border-radius( 0 0 30px 30px );
        .box-shadow( ~"0 -1px 0 rgba(0, 0, 0, 0.6) inset" );
        border:solid 1px #57230d;
        border-top:0;
        text-shadow:0 2px 0 rgba(0,0,0,0.7);


        a {
            color:#b6785d;
            text-decoration:none;
            &:hover,
            &:focus {
                text-decoration:none;
                color:#FFFFFF;
                //text-shadow:none;
            }
        }
    }
    
    .nojswarn {
        display:none;
    }
    
    
    .nojs {
        .main {
            display:none;
        }
        .nojswarn {
            display:block;
        }
    }
