@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?nmhu7q');
	src:url('fonts/icomoon.eot?#iefixnmhu7q') format('embedded-opentype'),
		url('fonts/icomoon.ttf?nmhu7q') format('truetype'),
		url('fonts/icomoon.woff?nmhu7q') format('woff'),
		url('fonts/icomoon.svg?nmhu7q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fun:before {
	content: "\e916";
}
.icon-first:before {
	content: "\e91e";
}
.icon-education:before {
	content: "\e920";
}
.icon-job:before {
	content: "\e976";
}
.icon-travel:before {
	content: "\e9af";
}
.icon-other:before {
	content: "\ea09";
}
